.basicinfo{
    font-size: 15px;

}

.error{
    color: red;
    text-align: start;
}
.btn-warning {
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 58%;
    color: #fff;
    background-color: #17a2b8;
    border: 0;
    transition: 0.2s;
    overflow: hidden;
  
}

.btn-warning input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
}

.btn-warning:hover {
    background-color: #17a2b8;
}
.btncan{
    width: 120px;
    height: 40px;
    font-size:12px;
    background-color: #17a2b8;
    border-radius: 25px;
   border: 1px solid #17a2b8;
   color: white;
}
@media (min-width: 400px) {
    .basicinfo {
        font-size: 15px;
    }
        
}

@media (max-width: 1200px) {
    .basicinfo {
        
        font-size: 11px;
    }
   
    .addprop{
        font-size: 10px;
    }
        .desc::placeholder {
            font-size: 10px;
            color: gray;
        }
       
    
}


